
<div class="container">    
    <div class="langages">
        <img src="assets/images/fr.svg" alt="drapeaux" (click)="switchLanguage('fr')">
        <img src="assets/images/nl.svg" alt="drapeaux" (click)="switchLanguage('nl')">
        <img src="assets/images/en.png" alt="drapeaux" (click)="switchLanguage('en')">
    </div>

    <div class="reseaux">
        <a href="https://www.facebook.com/profile.php?id=61572312565265" target="_blank">
            <img src="assets/images/fb.svg" alt="reseaux">
        </a>
        <a href="https://www.instagram.com/thecooncastle/" target="_blank">
            <img src="assets/images/insta.svg" alt="reseaux">
        </a>
        <a href="mailto:thecooncastle@gmail.com">
            <img src="assets/images/email.svg" alt="reseaux">
        </a>
    </div>
</div>