<div class="container">
    <div class="footer">
        
            <div class="chatterie">
                <div class="titre">Chatterie THE COON CASTLE</div>
                <div class="gris-clair">Chatterie spécialisée dans l'élevage de chats Maine Coon</div>
            </div>

            <div class="contact">
                <div class="titre">CONTACT</div>
                <div>
                    <span>{{"tel" | translate}}: </span> 
                    +33 6 33 73 28 20 <br>
                    <span>ou</span> 
                    +32 474 80 04 53</div>
                <div style="word-break: break-all;"><span>{{"email" | translate}}: </span>thecooncastle&#64;gmail.com</div>
            </div>
           
            <div class="liens">
                <div class="titre">LIENS</div>
                <div>
                    <div>Livre d'Or</div>
                    <div>
                        <a href="https://loof.asso.fr/" target="_blank">LOOF (France)</a>
                    </div>
                    <div>
                        <a href="https://tica.org/" target="_blank">TICA (France)</a>
                    </div>
                    <div>
                        <a href="https://felisbelgica.be/" target="_blank">Felis Belgica</a>
                    </div>
                    <div>
                        <a href="https://www.catid.be/fr" target="_blank">Cat ID (Belgique)</a>
                    </div>
                </div>
            </div>
    </div>
</div>
