<div class="container">
    <div class="place">
        <h1>{{ 'place' | translate}}</h1>
   
        <h2>Localisation</h2>
            <p>
                Notre chatterie est idéalement située, à seulement 10 minutes en voiture de Bruxelles. 
                Nichée à la frontière entre les régions francophone et néerlandophone, elle se trouve à quelques pas des champs, offrant ainsi un cadre naturel et apaisant.
            </p>

        <h2>Un cadre idyllique</h2>
            <p>
                Les chats de The Coon Castle évoluent librement dans un espace de 220 m² réparti sur trois étages d’une maison baignée de lumière. 
                Avec ses quatre volées d’escaliers, deux terrasses, de nombreuses étagères et mezzanines, la maison se transforme en un véritable arbre à chat grandeur nature!
            </p>
            <p>
                Un espace nurserie est spécialement aménagé pour les nouveaux-nés jusqu’à leurs deux mois révolus, où règnent des règles strictes de sécurité, de douceur, de calme et d’hygiène.
            </p>
            <p>
                Lors des beaux jours, les chats profitent d’un accès au jardin. Un écrin de verdure colorée où ils découvrent  senteurs florales et chants d’oiseaux. 
            </p>
            <p>
                Bien que situés non loin de Zaventem, le bruit des avions est rare, l’atmosphère y est paisible.
            </p>
            <p>
                Nous disposons également d’une serre, espace intermédiaire idéal entre l’intérieur et le jardin. Un lieu de prédilection pour Udaipur, qui adore y passer des heures sans se lasser!
            </p>
    </div>
</div>
