.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/images/fonds/fond-noir-texturé.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1000;
}
.barre-zoom {
    height: 50px;
    background-color: #363333;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    img[alt='close']{
        height: 40px;
        margin-right: 10%;
    }
}
.zoom {
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    .chevrons {
        width: 5%;
        margin: 20px;
        img {
            width: 90%;
        }
        img[alt="chevron-d"]{
            transform: scaleX(-1)
        }
    }
    .main {
        height: 100%;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            //height: 100%;
            max-height: 100%;
            max-width: 100%;
        }
    }
}