<div class="container">
    <div class="repro">
        <h1>
            <img src="assets/images/filigrane-g.png" alt="filigrane"> 
            {{ "repro" | translate }}
            <img src="assets/images/filigrane-d.png" alt="filigrane"> </h1>
       
        <h2>La saillie</h2>

            <h3>L'âge</h3>

            <h3>La fréquence</h3>
            
            <h3>Le choix du mâle reproducteur</h3>

        <h2>La gestation</h2>

        <h2>La mise bas</h2>

        <h2>La croissance des bébés</h2>
    </div>
</div>
