<div class="container">
    <div class="repro">
        <h1>
            <img src="assets/images/filigrane-g.png" alt="filigrane"> 
            {{ "repro" | translate }}
            <img src="assets/images/filigrane-d.png" alt="filigrane"> </h1>

        <div>
            <h2>Etape 1 : Saillie</h2>
            <h3>Le choix du mâle reproducteur</h3>
            <h3>L'âge</h3>
            <p>
                Etant donné la maturité lente du Maine Coon, la première saillie d’une femelle ne doit pas être programmée trop tôt, sous peine de nuire à sa santé.
                <br>
                C’est la raison pour laquelle nous avons attendu qu'Udaipur ait 1 an et demi révolu avant d'envisager un mariage.
            </p>
            <h3>La fréquence</h3>
            <p>
                Même si la législation autorise 3 saillies sur 24 mois, chez Coon Castle nous sommes totalement opposés au business de certaines chatteries qui font se reproduire les femelles tous les 8 mois.
                <br>
                Selon nous, la durée idéale d’une période de repos entre chaque portée est d’au moins 15 mois, soit 2 saillies tous les 3 ans.
                <br><br>
                Coon Castle est l’inverse d’un élevage intensif qui exploite sans répit ses chats au détriment de leur santé.
            </p>
        </div>
     

        <h2>Etape 2 : Gestation</h2>
            <p>
                La gestation est une période de 60 et 70 jours durant laquelle nous faisons preuve d’une grande vigilance.
                <br><br>
                Dès que la femelle présente les premiers signes d’une gestation (changement de comportement, mamelles qui rosissent vers le 20ème jour de gestation), 
                nous réalisons une échographie afin de confirmer que notre chatte est bien gestante.
                <br><br>
                Pendant cette période, la femelle est chouchoutée, a droit à des croquettes "spécial Gestation Maine Coon", et bénéficie davantage d'intimité et de calme.
                <br>
                <!--(*** photo de uzi avec son gros ventre)-->
                <br><br>
                Vers le 40e jour, une radiographie permet de définir approximativement le nombre de chatons à venir, afin de nous organiser en amont.
                <br>
            </p>
            <img src="assets/images/radio.png" alt="radio">

        <h2>Etape 3 : Mise bas</h2>
        <p>
            Vient la mise bas… 
            <br>
            C’est un moment délicat qui nécessite d’être parfaitement préparé afin de faire face à toutes les situations.
            <br><br>
            La naissance est emprunte de magie… mais aussi de danger!  <br>
            Mettre bas est synonyme de risques pour la maman et ses chatons. <br>
            Ainsi, nous organisons un relais de veille afin d’être prêt à intervenir à tout moment. 
            <br><br>
            Notre rôle d'éleveur est d'accompagner, surveiller, agir.
        </p>
            <h3>Assister la maman</h3>
                <h4>L'environnement</h4>
                <p>La mère est installée dans une pièce calme, avec une lumière tamisée et une température avoisinant les 22 degrés.</p>
                <h4>Le timing</h4>
                <p>
                    Le stade I dure quelques heures: l'utérus se contracte entrainant la dilatation de son col.
                    <br>
                    Le stade II consiste en l'expulsion des chatons et de leur placenta respectif. Cette étape n'excède généralement pas 1h.
                    <br><br>
                    Il faut : 
                </p>
                    <ul>
                        <li>Se rendre immédiatement aux urgences vétérinaires si la femelle est en travail actif depuis 2h sans mise bas</li>
                        <li>S'assurer que chaque placenta a été éliminé</li>
                    </ul>
            <h3>Soigner les nouveaux-nés</h3>
                <h4>La réception</h4>
                <p>
                    Le chaton se présente en général par l’avant, parfois par l’arrière. 
                    Le cas le plus problématique est une présentation par le siège ou la queue.                    
                </p>
                <h4>La libération</h4>
                    <ul>
                        <li>Dégager les voies respiratoires</li>
                        <li>Couper cordon :  Si la mère ne s’en charge pas, l’éleveur coupera le cordon, à environ 1 cm. <br>
                            Il est primordial de désinfecter cette voie d’entrée de germes pour éviter les abcès et/ou infection généralisée.  <br>
                            Ces soins durent 1 semaine jusqu'à la tombée autonome du bout de cordon.</li>
                        <li>Séchage du corps avec du papier absorbant</li>
                    </ul>
                    <h5></h5>
                    <h5></h5>
                <h4>L'identification</h4>
                    <h5>Le sexage</h5>
                    <div class="sexage">
                        <ol>
                            <li>Anus</li>
                            <li>Vulve</li>
                            <li>Testicules</li>
                            <li>Pénis</li>
                        </ol>
                        <img src="assets/images/sexage.png" alt="sexage">
                        </div>
                    <h5>Le baptème</h5>
                    <p>On lui donne un nom et on lui enfile un petit collier coloré pour le différencier des autres.</p>
                <h4>La pesée</h4>
                <div class="pesee">
                    <img src="assets/images/balance.png" alt="balance">
                    <p> La fourchette de poids de naissance oscille entre 70 gr et 195 gr. 
                    <br>
                    Nous pesons nos chatons matin et soir pour surveiller la prise de poids.</p>
                </div>
                   <!--(***photo d'une grille de référence age/poids)--> 

        <h2>Etape 4 : Croissance des bébés</h2>
        <p>
            leur alimentation : 
            leur santé : 
            leur jeux : 
            leur future adoption : 
        </p>
    </div>
</div>
