.container {
    width: 100%;
    background-color: rgb(247, 239, 239);
    
    .history {
        width: min(100vw, 1200px);
        margin: auto;
        box-sizing: border-box;
        padding: 20px 10px;
    }
}
