<div class="container">
    <div class="history">
        <h1>{{ 'histoire' | translate}}</h1>
       
        <div>
            <p>
                Située en bordure de Bruxelles, notre chatterie “The Coon Castle” est un havre de paix.
            </p>

            <p>
                Nous sommes un couple d’une trentaine d’années, Mélanie et Pierre,
                animés d’une passion commune pour cette noble race féline : les  Maine Coon.
            </p>

            <p>
                Cette activité d’élevage nous demande beaucoup de temps et d'investissement personnel. 
                Nos emplois du temps respectifs nous permettent  de ne jamais laisser nos chats seuls. 
                Nous avons la chance de pouvoir nous permettre d’être à leur côté au quotidien pour les superviser, les stimuler, les aimer.
            </p>

            <p>
                Nous avons dans notre entourage proche bruxellois des amis dont les enfants et chiens font régulièrement la connaissance de nos petits félins. De ce fait, nos chats et chatons sont parfaitement sociabilisés.
            </p>

            <p>  
                J’ai exercé en tant que pharmacienne pendant 10 ans et suivi des cours de vétérinaire à la faculté de Lille.
                Actuellement en cours d’obtention de mon ACACED (Attestation de Connaissances pour les Animaux de Compagnies d’Espèces Domestiques),
                la prochaine étape de mon parcours sera de commencer une formation de comportementaliste félin.
            </p>
            
        </div>
    </div>
</div>
