<div class="container">
    <div class="history">
        <h1>
            <img src="assets/images/filigrane-g.png" alt="filigrane" height="16px"> 
            {{ "histoire" | translate }}
            <img src="assets/images/filigrane-d.png" alt="filigrane" height="16px"> 
        </h1>
       
        <div>
            <p>
                Nous sommes un couple d’une trentaine d’années, Mélanie et Pierre,
                animé d’une passion commune pour la noble race Maine Coon.
                <br><br>
                Cette activité d’élevage nous demande beaucoup de temps et d'investissement personnel. 
                <br>
                Nos emplois du temps respectifs nous permettent  de ne jamais laisser nos chats seuls. 
                Nous avons la chance de pouvoir nous permettre d’être à leur côté au quotidien pour les superviser, les stimuler, les aimer.
                <br><br>
                Nous avons dans notre entourage proche bruxellois des amis dont les enfants et chiens font régulièrement la connaissance de nos petits félins. De ce fait, nos chats et chatons sont parfaitement sociabilisés.
                <br><br>
                J’ai exercé en tant que pharmacienne pendant 10 ans et suivi des cours de vétérinaire à la faculté de Lille.
                Actuellement en cours d’obtention de mon ACACED (Attestation de Connaissances pour les Animaux de Compagnies d’Espèces Domestiques)
            </p>
        </div>
    </div>
</div>
