<div class="container">
    <div class="uzi">
        <h1>
            <img src="assets/images/filigrane-g.png" alt="filigrane"> 
            {{ "uzi" | translate }}
            <img src="assets/images/filigrane-d.png" alt="filigrane">
        </h1>
        <div class="float">
                <img src="assets/images/chats/udaipur/uzi-sticker.jpg" alt="sticker">
                <div>
                    <p>
                        A 6 mois, Udaipur a été repérée comme “femelle prometteuse” et nominée par l’ex-Président du LOOF, Monsieur le Juge Fabrice Calmes. <br>
                        La suite ne nous a pas déçus : elle a aujourd’hui son titre de Championne de France, suite à l’obtention de ses 3 points CAC.
                    </p>
                    <p>
                        Plus grande que la moyenne, son gabarit, son petit museau de lion et sa robe tortie ‘écaille de tortue’ séduisent les juges lors des expositions.
                    </p>
                    <p>
                        Son caractère est parfaitement équilibré: à la fois curieuse, joueuse et affectueuse. <br>
                        Le soir, quand elle décide qu'a sonné l'heure des caresses, elle envoie valser d’un coup de tête les téléphones pour s’assurer que 100% de notre attention soit focalisée sur elle. <br>
                        Nous avons pris l’habitude de nous endormir dans la mélodie de ses ronrons (un petit moteur).
                    </p>
                </div>
        </div>
    </div>
</div>
