<div class="container">
    <div class="generalities">
        <h1>
            <img src="assets/images/filigrane-g.png" alt="filigrane"> 
            {{ "general" | translate }}
            <img src="assets/images/filigrane-d.png" alt="filigrane"> 
        </h1>

      
        <button (click)="openPdf('fiche_race_mainecoon')">Télécharger la Fiche de la race</button>

        <h2>Son origine</h2>
        <p>
            L’origine du Maine Coon rejoint le sillage des premiers bateaux des colons européens accostant sur les côtes américaines avec, dans leurs cales, des chats voyageurs dont certains à poil long.
       
            Une partie des petits félins échappés à terre et livrés à eux-mêmes devront leur survie à leur faculté d’adaptation au climat hivernal du Maine.
      
            Ils développèrent une fourrure quasi imperméable, une musculature puissante et une solide mâchoire de chasseur.
          
            Dans les années 1860, les fermiers du Maine commencent à présenter leurs plus beaux sujets au cours des comices agricoles.
            Peu après, le Maine Coon fait sensation lors des premières expositions félines aux USA.
            Le succès est pourtant de courte durée quand arrivent d’Angleterre les Persans, qui paraissent bien plus exotiques.
          
            Ce n’est qu’en 1950 que des éleveurs recommencent à s’intéresser à lui en fondant le premier club de race.
        
            Le Maine Coon est reconnu en 1976 par la Cat Fanciers' Association (CFA), le plus grand club félin américain et son succès ne s’est jamais démenti depuis.
        </p>

        <h2>Son look</h2>
        <p>
            Considéré comme le plus imposant des chats domestiques, le Maine Coon est un chat à poil mi-long, au corps rectangulaire et à la musculature puissante. 
            <br>
            Les mâles sont notablement plus grands que les femelles.
            <br>
            La tête est de taille moyenne avec un fort museau carré, bien détaché des pommettes, et de grandes oreilles portées haut sur la tête.
            <br>
            Des plumets « à la lynx » sont recherchés.
            <br>
            Les yeux sont presque ronds quand le chat est attentif.
            <br>Les pattes sont fortes et de hauteur moyenne ce qui renforce l’aspect rectangulaire du corps.
            <br>La queue est longue et bien fournie. 
            <br>La fourrure, plus courte sur les épaules, s’allonge graduellement sur les côtés. 
            <br>Au début de l’élevage américain, seuls les chats brown tabby avaient le droit de porter le nom de Maine Coon, les autres chats n’ayant droit qu’à l’appellation de Maine Shag (shag signifiant « touffu »).
            Aujourd’hui, de nombreuses robes sont acceptées.
        </p>
        <button (click)="openPdf('conformite-LOOF')">
            Télécharger la fiche de conformité LOOF
        </button>
        <br><br>
        <img src="assets/images/schema criteres LOOF.jpg" alt="ok-pas-ok">

        <h2>Son caractère</h2>
        <p>
            Le Maine Coon est souvent surnommé "le doux géant" en raison de sa grande taille et de son tempérament affectueux. 
            Contrairement à d’autres races indépendantes, il est très attaché à sa famille et apprécie la compagnie des humains, sans pour autant être envahissant.
            <br><br>
            C'est un chat joueur et curieux, qui conserve souvent son esprit espiègle à l’âge adulte. Il aime interagir avec son environnement et peut même apprendre des tours ou rapporter des objets comme un chien.
            D'ailleurs, on le décrit souvent comme étant un "chat-chien".
            <br><br>
            Le Maine Coon est également connu pour sa sociabilité. Il s’entend bien avec les enfants, les autres chats et même les chiens. Il est rarement agressif et préfère la cohabitation harmonieuse.
            <br><br>
            Doté d’une grande intelligence, il comprend rapidement les routines et s’adapte facilement aux nouvelles situations. 
            <br><br>
            Enfin, c'est un chat qui communique beaucoup avec des miaulements doux et mélodieux, souvent sous forme de roucoulements.
            <br><br>
            Vous l’aurez compris : le Maine Coon est un chat équilibré, affectueux et sociable, parfait pour une famille ou une personne cherchant un compagnon attachant et interactif.
        </p>
    </div>
</div>