<div class="container">
    <div class="generalities">
        <h1>
            <img src="assets/images/filigrane-g.png" alt="filigrane"> 
            {{ "general" | translate }}
            <img src="assets/images/filigrane-d.png" alt="filigrane"> 
        </h1>
        <p>
            Le Maine Coon est souvent surnommé "le doux géant" en raison de sa grande taille et de son tempérament affectueux. Contrairement à d’autres races indépendantes, il est très attaché à sa famille et apprécie la compagnie des humains, sans pour autant être envahissant.
            <br><br>
            C'est un chat joueur et curieux, qui conserve souvent son esprit espiègle jusqu’à l’âge adulte. Il aime interagir avec son environnement et peut même apprendre des tours ou rapporter des objets comme un chien.
            <br><br>
            Le Maine Coon est également connu pour sa sociabilité. Il s’entend bien avec les enfants, les autres chats et même les chiens. Il est rarement agressif et préfère la cohabitation harmonieuse.
            <br><br>
            Doté d’une grande intelligence, il comprend rapidement les routines et s’adapte facilement aux nouvelles situations. Certains individus sont aussi fascinés par l’eau et n’hésitent pas à jouer avec ou à s’approcher des robinets.
            <br><br>
            Enfin, c'est un chat qui communique beaucoup avec des miaulements doux et mélodieux, souvent sous forme de roucoulements.
            <br><br>
            Vous l’aurez compris : le Maine Coon est un chat équilibré, affectueux et sociable, parfait pour une famille ou une personne cherchant un compagnon attachant et interactif.
        </p>
    </div>
</div>