<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Coon Castle</title>
</head>
<body>
  <div class="langages">
    <button (click)="switchLanguage('fr')">FR</button>
    <button (click)="switchLanguage('en')">EN</button>
    <button (click)="switchLanguage('nl')">NL</button>
  </div>
  <app-header></app-header>
  <app-title></app-title>
  <app-navig></app-navig>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</body>
</html>