.container {
    width: 100%;
}
.selling {
    width: min(100vw, 1200px);
    box-sizing: border-box;
    margin: auto;
    padding: 20px;

    .tarifs {
        ul {
            border: red 1px dotted;
            padding: 20px 40px;
        }
    }
    .red {
        color: red;
    }
    button {
        all: unset;
        color: #363333;
        background-color: white;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        padding: 10px;
        border-radius: 10px;
        &:hover {
            background-color: #363333;
            color: white;
            font-weight: bold;
        }
        @media screen and (max-width:700px) {
            width: 80vw;
            margin: 0 auto 15px;
            display: block;
            text-align: center;
        }
    }
    
    h3 {
        color: #363333;
        font-size: 22px;
        font-weight: 550;  
        position: relative;
        padding-left: 20px;

        &::before {

            content: "";
            display: inline-block;
            width: 15px;
            height: 15px;
            background: url('/assets/images/gold-ball.png') no-repeat center;
            background-size: contain;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
        
    h3 {
        margin: 10px 30px;
    }
}