<div class="container">
    <div class="alim">
        <h1>
            <img src="assets/images/filigrane-g.png" alt="filigrane"> 
            {{ "alim" | translate }}
            <img src="assets/images/filigrane-d.png" alt="filigrane"> 
        </h1>
        <div class="rc">
            <img src="assets/images/royal-canin-kitten.png" alt="rc">
            <img src="assets/images/royal-canin.jpg" alt="rc">
            <img src="assets/images/royal-canin-nn.png" alt="rc">
        </div>
    </div>
</div>
