<div class="container">
    <div class="philo">
        <h1>
            <img src="assets/images/filigrane-g.png" alt="filigrane"> 
            {{ "philo" | translate }}
            <img src="assets/images/filigrane-d.png" alt="filigrane"> 
        </h1>
        <h2>{{ "bien-etre" | translate }}</h2>
        <p>
            Chez Coon Castle, le bien-être animal est une priorité.
        </p>
        <p>
            Le Maine Coon a besoin d’espace et de soins adaptés pour s’épanouir pleinement. 
            Actif par nature, il doit pouvoir courir, jouer, faire ses griffes et se reposer dans un environnement calme. 
            Mais son équilibre repose aussi sur l’attention, l’affection et les moments de partage avec ses maîtres.
        </p>
        <p>
            C’est pourquoi nos chats vivent avec nous, en totale liberté au sein de notre maison. 
            Ils peuvent ainsi se déplacer à leur guise, participer à la vie de famille et profiter d’une grande complicité avec nous. 
        </p>
        <p>
            Avec le temps, de véritables liens se sont tissés.
            Udaipur notre femelle reproductrice dort avec nous. 
            Elle connaît également tous les secrets de nos entreprises respectives à force de participer aux meetings, en télétravail sur nos bureaux.
        </p>
        <p>Pour stimuler leur éveil et leur activité physique dès leur plus jeune âge, nous mettons à leur disposition une variété de jeux adaptés. 
            Nous consacrons également beaucoup de temps à jouer avec eux de manière ludique et inventive afin d’éviter toute routine.

        </p>
        <p>
            Lorsqu'il y a une éclaircie, nous sortons avec eux dans notre jardin, une véritable source de plaisir et de découverte pour eux.
        </p>

        <h2>{{ "education" | translate }}</h2>
        <p>
            "Coon Castle, des petits chatons de bonne famille !""
        </p>
        <p>   
            Ce n'est pas qu'un slogan : nous accordons une importance capitale à l’éducation de nos chatons. 
            Notre objectif est qu’ils grandissent en devenant des adultes équilibrés, 
            bien dans leurs pattes et prêts à s’épanouir pleinement dans leur nouvelle famille.
        </p>
        <p>
            Cela demande du temps et de l’investissement, mais le résultat en vaut largement la peine.
        </p>

        <ul>
            <li>
                <h3>La socialisation</h3>
                <p>
                    Nos chatons évoluent dans un environnement riche en interactions. 
                    Grâce à la présence régulière d’amis, d’enfants et même de chiens dans notre entourage bruxellois, 
                    ils apprennent dès leur plus jeune âge à cohabiter avec douceur et confiance.  
                </p>
            </li>
            <li>
                <h3>L’habitude à la manipulation</h3>
                <p>
                    Dès leur naissance, nos chatons sont manipulés avec soin afin qu’ils s’habituent progressivement aux gestes du quotidien. 
                    Ainsi, une fois adultes, ils acceptent plus facilement les soins d’hygiène essentiels : 
                    nettoyage des yeux et des oreilles, coupe des griffes, brossage du pelage et des dents.
                </p>
            </li>
            <li>
                <h3>Le jeu, un élément clé</h3>
                <p>
                    Le jeu est essentiel pour le bien-être et le développement de nos petits félins.
                    Il stimule leurs réflexes, renforce leur agilité et favorise leur développement psycho-moteur, tout en leur procurant du plaisir au quotidien.
                </p>
            </li>
            <li>
                <h3>Un sevrage respecté</h3>
                <p>
                    Le sevrage est une étape cruciale pour un Maine Coon. 
                    The Coon Castle veille à ce que chaque chaton reste aux côtés de sa mère pendant au moins quatre mois. 
                    Ce temps est indispensable pour qu’il apprenne les bases de l’hygiène et du comportement, garantissant ainsi une transition en douceur vers son nouveau foyer.
                </p>
            </li>
        </ul>
    </div>
</div>