<div class="container">
    <div class="health">
        <h1>
            <img src="assets/images/filigrane-g.png" alt="filigrane"> 
            {{ "sante" | translate }}
            <img src="assets/images/filigrane-d.png" alt="filigrane">
        </h1>

        <p>
            La santé des félins est la priorité absolue de la chatterie Coon Castle et fait l’objet d’une attention rigoureuse au quotidien. 
            <br><br>
            Nous restons attentifs au moindre signe de changement, qu’il soit alimentaire, comportemental ou physique. 
            Grâce à l’observation, à la complicité et au lien privilégié que nous avons tissé avec nos chats, 
            nous sommes en mesure de détecter rapidement toute anomalie. 
            Cette vigilance nous permet d’intervenir sans délai et de prendre les mesures nécessaires en collaboration avec des professionnels de santé.
            <br><br>
            Voici le protocole établi à Coon Castle et validé par le vétérinaire de la chatterie:
            
        </p>

        <h2>Prévenir les infections</h2>
        <div class="viral">
            <h3>Virales et bactériennes</h3>
            <div class="vacc">
                <h4>1.1. La vaccination</h4>
                    <h5>
                        <img src="assets/images/seringue.svg" alt="seringue">
                        Typhus, Coryza, Chlamydiose
                    </h5>
                    <p>Nos chatons bénéficient de la primo vaccination qui démarre à l’âge de 2 mois, avec un rappel à 3 mois puis à 4 mois. 
                        <br>
                        L’adoptant sera ensuite chargé de réaliser un rappel chaque année.
                    </p>
                    <h5>
                        <img src="assets/images/seringue.svg" alt="seringue">
                        Rage
                    </h5>
                    <p>Pour respecter la législation des clubs canins français, nous effectuons également la vaccination contre la rage car nous sommes situés en Belgique et participons régulièrement à des expositions en France.</p>
                    <h5>
                        <img src="assets/images/seringue.svg" alt="seringue">
                        Leucose
                    </h5>
                    <p>La vaccination contre la leucose sera faite vers l’âge de 8 mois avec un rappel un mois plus tard.</p>
            </div>
            <div class="test-sang">
                <h4>1.2. Les tests sanguins</h4>
                <p>Avant une saillie extérieure, le dépistage est non négociable.
                    <br>
                    Deux tests sanguins sont effectués sur les 2 chats reproducteurs du mariage programmé.</p>
                    <h5>
                        <img src="assets/images/pipette.svg" alt="pipette">
                        FIV
                    </h5>
                    <p>Le virus de l'immunodéficience, soit le "sida du chat".</p>
                    <h5>
                        <img src="assets/images/pipette.svg" alt="pipette">
                        FeLV
                    </h5>
                    <p>Ce test détecte la présence du virus de la leucose féline.</p>
                <!--<button>Voir le calendrier vaccinal</button>-->
            </div>
        </div>
        <div class="parasit">
            <h3>Parasitaires</h3>
            <p>Les parasites, un danger à ne pas sous-estimer, peuvent être la source de graves problèmes de santé : 
                <br>
                Perforation de l’intestin, troubles cardiaques et respiratoires, bouchon intestinal… menant parfois au décès.
            </p>
            <div class="puces">
                <h4>Les puces et les tiques</h4>
                <p>Régulièrement nous appliquons une pipette de solution de produits antiparasitaires, achetée chez notre vétérinaire.</p>
            </div>
            <div class="vers">
                <h4>Les vers</h4>
                <p>
                    Tous nos chatons sont traités tous les 15 jours dès l’âge de 3 semaines~1 mois jusqu’à l’âge de 2 mois, puis tous les mois jusqu’à l’âge de 6 mois.
                    <br>
                    Les chats adultes sont vermifugés 4 fois par an soit tous les trimestres.
                </p>
            </div>
        </div>

        <h2>Eviter les maladies héréditaires</h2>
        <p>Nous insistons encore sur le rôle primordial de l’éleveur dans la sélection sérieuse des chats à “marier”, pour éviter la naissance de chatons fragilisés par une mauvaise génétique.</p>
        <div class="adn">
            <h3>Tests ADN</h3>
            <p>Une étude minutieuse de la compatibilité des gènes se fait sur base des résultats de tests ADN  des reproducteurs. 
                <br>
                Ces tests sont aussi réalisés sur les chatons avant leur adoption. 
                <br>
                C’est indolore : Une petite brossette prélève quelques cellules de la cavité buccale du chat. Le prélèvement est ensuite envoyé au laboratoire.
                <br><br>
                Nous ciblons les 3 principales maladies génétiques qui touchent la race:
                </p>
                <h4>
                    <img src="assets/images/ADN.svg" alt="adn">
                    HCM / CMH = CardioMyopathie Hypertrophique
                </h4>
                <p>
                    Le muscle cardiaque va progressivement s’épaissir, ce qui va faire prendre du volume au cœur et potentiellement entainer la mort du chat porteur de cette maladie génétique.
                </p>
                <h4>
                    <img src="assets/images/ADN.svg" alt="adn">
                    SMA = Atrophie Musculaire Spinale
                </h4>
                <p>
                    Cette maladie génétique se traduit par une atrophie musculaire progressive de l’arrière-train.
                    La nécrose de certains neurones de la moelle épinière empêche le développement correct de certains muscles, ce qui impacte la mobilité du chat.
                </p>
                <h4>
                    <img src="assets/images/ADN.svg" alt="adn">
                    PKDef = Déficit en Pyruvate Kinase
                </h4>
                <p>Elle provoque une anémie sanguine. Les symptômes sont la fatigue, une intolérance à l’effort et une baisse de l’appétit.</p>
        </div>
        <div class="imagerie">
            <h3>Examens d'imagerie</h3>
            <p>Pour détecter au plus tôt ces maladies, il y a aussi la possibilité de réaliser:</p>
                <h4>Radiographie des hanches</h4>
                <p>
                    Cet examen permet de diagnostiquer une dysplasie des hanches, dont de nombreux maine coon sont la cible.
                </p>
                <h4>Echographie rénale</h4>
                <p>
                    Réalisée annuellement, cette échographie met le doigt sur une éventuelle polykystose rénale. <br>
                    Cette maladie consiste en le développement de kystes et la destruction du tissu rénal.
                </p>
                <h4>Echographie cardiaque</h4>
                <p>
                    Le but est de surveiller une potentielle cardiomyopathie hypertrophique (CMH)
                </p>
        </div>
        
        <h2>Mise en quarantaine</h2>
        <p>
            Même si à ce jour tout le petit monde de Coon Castle se porte bien, nous avons néanmoins aménagé une salle de quarantaine pour isoler un éventuel cas malade, et protéger ainsi le reste de la portée.
        </p>    
    </div>
</div>

